*{
padding: 0;
margin: 0;
font-family:  sans-serif;
box-sizing: border-box;
}
body{
    background-color: rgb(133, 140, 141);
}

header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo img{
    display: flex;
    align-items: center;
    color: #fff;
    max-width: 70px;
    max-height: 70px;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}
.nav-item{
  position: relative;
  display: inline-block;
}
.nav-item{
    margin: 0px 15px;
}
/*dropdownzinho de malandro*/

li {
    float: left;
  }
  
  li a, .nav-link {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .nav-link {
    background-color: #24252a;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 18px;
    background-color: #24252a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #3a3a3f;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* fim do dropdown de malandro*/

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}
.login-button button{
    border: none;
    background-color: #075063;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
}
.login-button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 1000px;
  
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

@media screen and (max-width: 720px){
    .nav-bar{
        background-color: #001242;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;

    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
        align-content: center;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }
}


.maior{
    width: 800px;
    height: 500px;
    margin: 50px auto;  
}

.maior img {
    position: absolute;
  
    border: solid black 1px;
    padding: 3px;
    width: 800px;
    height: 500px;
    
}

.menor {
    height: 90px;
    text-align: center;
    margin-top: 50px;
}

.menor img{
   cursor: pointer;
   height: 100%;
   border: solid rgb(7, 0, 107) 1px;
   padding: 2px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding: 4px;
    box-sizing: border-box;
    justify-content: center;
}
.container .cartao img{
    max-width: 280px;
    min-width: 280px;
    max-height: 220.44px;
    min-height: 220.44px;
    border-radius: 10px;
    margin: -9.7px;
}
.container div{
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px; 
    flex-direction: column;
    max-width: 280px;
    max-height: 300.44;
    background-color: #fff;    

}
.cartao{
    box-shadow: #6e7070 2px 2px 2px 2px;
}
.cartao .corpoCartao{
    background-color: #fff;
}
.cartao .corpoCartao .tituloCartao{
    font-size: 1.25rem;
    padding: 4px;
    margin: 2px;
    text-align: center;
}
.cartao .corpoCartao .textoCartao{
    padding: 7px;
    color: #212529;
    text-align: initial;
}